.App {
  width: 40%;
  margin: auto;
}

.header {
  text-align: center;
}




@media (prefers-reduced-motion: no-preference) {
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  font-family: sans-serif;
  padding: 2rem;
}

.header {
  text-align: center;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item.overdue {
  background-color: #ffebee;
}

.todo-item-title {
  display: flex;
  align-items: center;
}

.title-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 0.5rem;
  
}

.completed {
  color: gray;
}

.due-date {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.finish-date {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  font-style: italic;
}

.todo-item-delete button {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
}

.add-todo-form {
  margin-top: 2rem;
}

.add-todo-form input,
.add-todo-form button {
  font-size: 1rem;
  margin-right: 1rem;
}

.add-todo-form button[type='submit'] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
}

.add-todo-form button[type='submit']:hover {
  background-color: #388e3c;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-text {
  font-size: 1.2rem;
}
